body {
    background-color: #c7ecee;
}

#centered {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#centered p {
    margin: 0;
}

p, input {
    text-align: center;
}

.button{
    color: white;
    background-color: rgba(87, 101, 116,0.5);
    font-size: larger;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 6px 6px;
    border-radius: 5px;
}

a:any-link{
    text-decoration: none;
}

#start, #createFirework {
    background-image: url("firework-blur.jpg");
    background-size: 80% auto;
}

#fireworks {
    margin-top: -20px;
    width: 200px;
    height: 200px;

}

.main {
    color: white;
    background-color: rgba(255, 118, 117,0.9);
    font-size: larger;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 6px 6px;
    border-radius: 5px;
    margin-top: 200px;
    width: 400px;
    height: 140px;
    text-align: center;
    margin-left: 500px;
}

.createForm {
    background-color: rgba(255, 118, 117,0.9);
    border-style: dashed;
    border-color: rgb(255, 119, 0);
    width: 500px;
    height: 650px;
    margin-left: 450px;
    margin-top: -20px;
}

h1 {
    font-family: sans-serif;
    font-size: 40px;
}

h2 {
    font-family: sans-serif;
    font-size: 40px;
    color: rgb(255, 119, 0);
    text-align: center;
}

h3 {
    color: rgb(18, 18, 164);
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

h4 {
    color: rgb(18, 18, 164);
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 900px;
    margin-top: -450px;
}

h5 {
    color: rgb(18, 18, 164);
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 900px;
    margin-top: 100px
}

.h5 {
    margin-top: 100px
}

p {
    color: rgb(18, 18, 164);
}

.b5, .fireWorkButton {
    background-color: black;
    color: white;
    width: 100px;
    height: 30px;
    font-size: 15px;
    margin-left: 900px;
    margin-top: -300px;
}

form {
    margin-right: 500px;
}


.name {
    margin-left: 160px;
    text-align: center;
}

.feuergr {
    margin-left: 160px;
    text-align: center;
}

.breite {
    margin-left: 160px;
    text-align: center;
}

.farbe {
    margin-left: 225px;
    text-align: center;
}

.dauer {
    margin-left: 160px;
    text-align: center;
}



